<!DOCTYPE html>
<html>
  <head>
    <title>NetDrivers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div style="bottom: 0%;position: fixed; width: 99%;">
      <hr>
      <address>Powered by Ruby <%=RUBY_VERSION %> and Rails <%=Rails.version %></address>
    </div>
  </body>
</html>
