<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <% if content_for?(:html_title) %>
        <%= yield(:html_title) %> |
      <% end %>
      NetDrivers
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag "master" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
      <hr>
      <address><a href="https://github.com/nickandfloppy/NetDrivers-rb">NetDrivers</a> <%= ENV["VERSION"] %> - Powered by Ruby <%= RUBY_VERSION %> and Rails <%= Rails.version %></address>
    </div>
  </body>
</html>
